.virsraksts{
    text-align: center;
    color:aliceblue;
    font-family: monospace;
    font-size: 40px;
}
.rectangle {
    height: 80px;
    width: 350px;
    background-color: darkslategrey;
    margin-left: 585px;
    margin-top: -85px;
}
table {
    position: absolute;
    color:aliceblue;
    padding: 100px;
    margin-left: 120px;
    text-align: left;
    width: 80%;
    height: 50%;
    font-family: monospace;
    
}
tr:hover {background-color: coral;}
tr:nth-child(even) {background-color:darkslategrey;}